@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
  background: #e0e0e0;
  -webkit-tap-highlight-color: transparent;
}

.d-flex {
  display: flex;
}

button {
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border-radius: 24px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 5px 5px 10px #acacac, -5px -5px 10px #fff;
}

button:active {
  border-radius: 20px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 5px 5px 9px #9b9b9b, -5px -5px 9px #fff;
}

.header {
  padding: 2% 12%;
}

.header h1 {
  font-size: 2em;
  color: rgba(192, 130, 130, 0.836);
}

.main-container {
  margin: 1.5% 1%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.main-container > * {
  margin: 30px;
  flex-basis: 37%;
  flex-grow: 1;
}

.recent-score-section {
  width: 35%;
}

#refresh {
  padding: 7px 13px;
}

.recent-score-list {
  transition: all 800ms ease;
  border-radius: 24px;
  background: #e0e0e0;
  box-shadow: 5px 5px 10px #acacac, -5px -5px 10px #fff;
}

.recent-score-list ul {
  transition: all 800ms ease;
  display: flex;
  flex-direction: column-reverse;
  padding: 0;
  margin: 0;
}

.recent-score-list ul li {
  list-style: none;
  padding: 0.6rem 20px;
}

.recent-score-list ul li:nth-child(even) {
  background: rgba(192, 130, 130, 0.836);
  color: #fff;
}

.recent-score-list ul li:last-child {
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

p {
  padding: 0;
  margin: 0;
}

.recent-score-header {
  justify-content: space-between;
  align-items: center;
}

.add-score-section {
  max-width: 450px;
  transition: all 800ms ease-in;
  width: 25%;
  height: 40%;
  padding: 2rem;
  border-radius: 24px;
  box-shadow: 5px 5px 10px #acacac, -5px -5px 10px #fff;
}

.form {
  flex-direction: column;
  gap: 20px;
}

input {
  padding: 7px 15px;
  border-radius: 18px;
  background: rgba(192, 130, 130, 0.836);
  border: #e0e0e0;
}

input:focus {
  outline: none;
}

::placeholder {
  color: white;
  font-style: italic;
}

.form #submit {
  align-self: flex-end;
  width: fit-content;
  padding: 7px 13px;
}

@media (max-width: 768px) {
  .main-container > * {
    flex-basis: 50%;
  }

  .recent-score-section {
    order: 2;
  }

  .add-score-section {
    order: 1;
  }
}
