@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
  background: #e0e0e0;
  -webkit-tap-highlight-color: transparent;
}

.d-flex {
  display: flex;
}

button {
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border-radius: 24px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 5px 5px 10px #acacac, -5px -5px 10px #fff;
}

button:active {
  border-radius: 20px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 5px 5px 9px #9b9b9b, -5px -5px 9px #fff;
}

.header {
  padding: 1% 14%;
}

.main-container {
  margin: 0 1%;
  justify-content: space-evenly;
}

.recent-score-section {
  width: 35%;
}

#refresh {
  padding: 7px 13px;
}

.recent-score-list {
  border-radius: 24px;
  background: #e0e0e0;
  box-shadow: 5px 5px 10px #acacac, -5px -5px 10px #fff;
}

.recent-score-list ul {
  padding: 0;
  margin: 0;
}

.recent-score-list ul li {
  list-style: none;
  padding: 0.6rem 20px;
}

.recent-score-list ul li:nth-child(even) {
  background: rgba(192, 130, 130, 0.836);
}

p {
  padding: 0;
  margin: 0;
}

.recent-score-header {
  justify-content: space-between;
  align-items: center;
}

.add-score-section {
  width: 25%;
}

.form {
  flex-direction: column;
  gap: 20px;
}

input {
  padding: 7px 7px;
  border-radius: 18px;
  background: rgba(192, 130, 130, 0.836);
  border: #e0e0e0;
}

input:focus {
  outline: none;
}

::placeholder {
  color: white;
  font-style: italic;
}

.form #submit {
  align-self: flex-end;
  width: fit-content;
  padding: 7px 13px;
}
